---
title: Projects
layout: project
description: >
  People create interesting projects with Zetta. Get started by re-creating the projects of others. Or share your project with the Zetta community.
---

<ul class="placards pure-g grid" data-columns>
  {% for project in site.categories["projects"] %}
  
    {% assign author_data = site.data.authors | where:"name", project.author %}
    {% assign author = author_data | first %} 
  
    <li class="placard">
      
      <div class="content shadow-1 shadow-active-4">
        {% assign foundImage = 0 %}
        
        {% if project.cover %}
          <a href="{{project.url}}"><img src="{{ project.cover }}" /></a>
          {% assign foundImage = 1 %}
        {% endif %}
        
        {% assign images = project.content | split: '<img'  %}
        {% for image in images %}
          {% if image contains 'src' %}

              {% if foundImage == 0 %}
                  {% assign html = image | split:"/>" | first %}
                  <a href="{{project.url}}"><img {{ html }} /></a>
                  {% assign foundImage = 1 %}
              {% endif %}
          {% endif %}
        {% endfor %}
          
        {% if project.tags.size > 0 %}
          {% if foundImage == 0 %}{% assign tagClass = 'flat' %}{% endif %}
          <div class="tag_callout {{ tagClass }}">
            <span class="shadow-2">{{ project.tags | first }}</span>
          </div>
        {% endif %}
        
        
        <a href="{{ project.url }}" class="title"><h3>{{ project.title }}</h3></a>
        {% if project.description %}<p class="description">{{project.description}}</p>{% endif %}
        <div class="meta pure-g">
          <div class="author pure-u-11-12">
          
            {% if author %}
            <span class="photo" style="background-image: url({{ author.photo }})"></span> 
            {{ author.name }}
            {% endif %}
          </div>
          
          {% for level in site.data.difficulty %}
            {% for key in level.keywords %}
              {% if project.difficulty == key %}
                {% assign difficulty = level.level %} 
              {% endif %}
            {% endfor %}  
          {% endfor %}
          
          <div class="difficulty level_{{ difficulty | intermediate }} pure-u-1-12">
          {% if project.difficulty %} 
            <span class="icon background">upwardsbarchart</span>
            <span class="icon overlay">upwardsbarchart</span>
            
          {% endif %}
          </div>
        </div>
        
      </div>
      
    </li>
  {% endfor %}
                  
          
</ul>
