  <nav class="closed pure-u-1">
    <section class="pure-g">
        <a href="{{ site.url }}/" class="home pure-u-1-4 before-md"><div class="zetta-logo before-md">zetta</div></a>
        <ul class="pure-u-1 pure-u-md-3-4">
          <li><a href="{{ site.url }}/docs/2014/06/04/installation.html" >Get Started    <b>rocket</b></a></li>  
          <li><a href="{{ site.url }}/recipes" >Recipes        <b>pepper</b></a></li>
          <li><a href="{{ site.url }}/docs" >Docs           <b>page</b></a></li>
          <li><a href="https://github.com/zettajs" >Github         <i class="fa fa-github"></i></a></li>
        </ul>
      </section>
  </nav>
  <header class="pure-g pure-u-1">
    <a href="{{ site.url }}/" class="home pure-u-3-4"><div class="zetta-logo hide-md ">zetta</div></a>
    <section class="hide-md pure-u-1-4" id="navToggle">
      <button class="icon"><span>toggle menu</span></button>
    </section>
    
    <h1 class="pure-u-1">{{ page.title }}</h1>
    
  </header>