<!DOCTYPE html>
<html>
<head>
  <title>zetta - {{ page.title }}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
      
  <!-- Typekit! Also consider localizing -->
  <script type="text/javascript">
  (function(d) {
    var tkTimeout=3000;
    if(window.sessionStorage){if(sessionStorage.getItem('useTypekit')==='false'){tkTimeout=0;}}
    var config = {
      kitId: 'tpa7gzm',
      scriptTimeout: tkTimeout
    },
    h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+"wf-inactive";if(window.sessionStorage){sessionStorage.setItem("useTypekit","false")}},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+="wf-loading";tk.src='//use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
  })(document);
  </script>
    
  <script>
    if (window.location.host.indexOf('localhost') > -1) {
    
    
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-54697339-1', 'auto');
      ga('require', 'displayfeatures');
      ga('send', 'pageview');
      
    }
  </script>
  <link rel="stylesheet"   href="{{ site.url }}/styles/styles.css" />

  <!-- Localize this later: -->
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

</head>
<body class="language-javascript">
  <section id="{{page.url | replace_first: '/', '' | replace: '/', '_' | replace: '.html', ''}}" class="page {{page.layout}}">
