<header class="pure-u-1">
            <div class="topbar pure-u-1 pure-g">
              <div class="content">
                
                <a href="{{ site.url }}/" class="home pure-u-3-4"><div class="zetta-logo">zetta</div></a>
                
                <section class="pure-u-1-4" id="navToggle">
                  <button class="icon"><span>toggle menu</span></button>
                </section>
                
                <nav class="closed pure-u-1">
                  <section class="pure-g">
                      <ul class="pure-u-1">
                        <!-- 
                        <li><a href="/" >Home</a></li>
                        <li><a href="https://twitter.com/zettajs" >Community</a></li>
                        <li><a href="/guides" >Guides</a></li>
                        <li><a href="/recipes" >Recipes</a></li>
                        <li><a href="/blog" >Blog</a></li>
                        -->
                        <li><a href="https://github.com/zettajs" >GitHub</a></li>
                      </ul>
                  </section>
                </nav>

                
                
              </div>
            </div>
</header>