  <nav class="closed pure-u-1">
    <section class="pure-g">
        <ul class="pure-u-1 pure-u-md-3-4">
          <li><a href="https://github.com/zettajs" >GitHub         <i class="fa fa-github"></i></a></li>
        </ul>
      </section>
  </nav>
  <header class="pure-g pure-u-1">
    <a href="{{ site.url }}/" class="home pure-u-3-4"><div class="zetta-logo">zetta</div></a>
    <section class="pure-u-1-4" id="navToggle">
      <button class="icon"><span>toggle menu</span></button>
    </section>
    
    <h1 class="pure-u-1">{{ page.title }}</h1>
    
  </header>