{% include header.html %}
<section id="hero" class="pure-g recipes">
    {% include nav.html %}
</section>

<article>
  {% if page.path contains 'index' %}
  
  <section class="description">
    <div>
      <!-- recipe intro text -->
      <p>All About Recipes</p>
      <p>Bacon ipsum dolor sit amet short loin filet mignon landjaeger ham hock salami. Pork belly pork loin chuck pancetta tenderloin ham sirloin drumstick flank beef pig short loin rump doner frankfurter. </p>
      <!-- /recipe intro text -->
    </div>
  </section>
  
  {% endif %}
  
  <section class="page_content">
    {{ content }}
  </section>
  
</article>

{% include footer.html %}