/***
  Zettajs.org
  ----------------------
  author: 2014 Alan Languirand alanguirand@apigee.com
***/
@font-face {
  font-family: 'SSPika';
  src: url('../fonts/ss-pika.eot');
  src: url('../fonts/ss-pika.eot?#iefix') format('embedded-opentype'), url('../fonts/ss-pika.woff') format('woff'), url('../fonts/ss-pika.ttf') format('truetype'), url('../fonts/ss-pika.svg#SSPika') format('svg');
  font-weight: normal;
  font-style: normal;
}
/***

  symbol reference: 
  http://www.alma-pectin.ru/css/webfonts/ss-pika/documentation.html 

***/
/***
  Apigee's color pallete
  ----------------------
  author: 2014 Alan Languirand alanguirand@apigee.com
***/
/* Apigee core colors */
.orange {
  color: #ff4300;
}
.green,
.dark-cyan {
  color: #129b4d;
}
.blue,
.strong-blue {
  color: #1a98d5;
}
.purple,
.dark-moderate-magenta {
  color: #813b96;
}
.yellow,
.bright-orange {
  color: #faa438;
}
.grey,
.grey,
.very-dark-grayish-blue {
  color: #59595b;
}
/* backgrounds */
/***
  Breakpoints that map to purecss
  ----------------------
  author: 2014 Alan Languirand alanguirand@apigee.com
***/
/* Strings to be used in @media tags */
@media screen and (min-width: 35.5em) {
  .hide-sm {
    display: none;
  }
}
@media screen and (min-width: 48em) {
  .hide-md {
    display: none;
  }
}
@media screen and (min-width: 64em) {
  .hide-lg {
    display: none;
  }
}
@media screen and (min-width: 80em) {
  .hide-xl {
    display: none;
  }
}
@media screen and (min-width: 48em) {
  .only-sm {
    display: none;
  }
}
@media screen and (min-width: 64em) {
  .only-sm {
    display: none;
  }
}
@media screen and (min-width: 80em) {
  .only-sm {
    display: none;
  }
}
@media screen and (min-width: 35.5em) {
  .only-md {
    display: none;
  }
}
@media screen and (min-width: 64em) {
  .only-md {
    display: none;
  }
}
@media screen and (min-width: 80em) {
  .only-md {
    display: none;
  }
}
@media screen and (min-width: 48em) {
  .only-lg {
    display: none;
  }
}
@media screen and (min-width: 35.5em) {
  .only-lg {
    display: none;
  }
}
@media screen and (min-width: 80em) {
  .only-lg {
    display: none;
  }
}
@media screen and (min-width: 48em) {
  .only-xl {
    display: none;
  }
}
@media screen and (min-width: 64em) {
  .only-xl {
    display: none;
  }
}
@media screen and (min-width: 35.5em) {
  .only-xl {
    display: none;
  }
}
/**
 * okaidia theme for JavaScript, CSS and HTML
 * Loosely based on Monokai textmate theme by http://www.monokai.nl/
 * @author ocodia
 */
code[class*="language-"],
pre[class*="language-"] {
  color: #ffffff;
  text-shadow: none;
  font-family: "fira-mono", courier, monospace;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}
/* Code blocks */
pre[class*="language-"] {
  padding: 1rem;
  margin: 0;
  overflow: auto;
}
:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: transparent;
}
/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: .1em;
  border-radius: .3em;
}
.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #4a5981;
}
.token.punctuation {
  color: #f8f8f2;
}
.namespace {
  opacity: .7;
}
.token.property,
.token.tag {
  color: #f92672;
}
.token.boolean,
.token.number {
  color: #ae81ff;
}
.token.selector,
.token.attr-name,
.token.string {
  color: #faa438;
}
.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: #ededed;
  background-color: transparent;
}
.token.atrule,
.token.attr-value {
  color: #e6db74;
}
.token.keyword {
  color: #ff4300;
}
.token.regex,
.token.important {
  color: #fd971f;
}
.token.important {
  font-weight: bold;
}
.token.entity {
  cursor: help;
}
.line-highlight {
  visibility: hidden;
}
body {
  background-color: #ededed;
  font-family: "jaf-facitweb", Helvetica, Arial, sans-serif;
}
/* Global Stuff */
html,
button,
input,
select,
textarea,
.pure-g [class*="pure-u"] {
  /* Set your content font stack here: */
  font-family: "jaf-facitweb", Helvetica, Arial, sans-serif;
}
html h1,
button h1,
input h1,
select h1,
textarea h1,
.pure-g [class*="pure-u"] h1,
html h2,
button h2,
input h2,
select h2,
textarea h2,
.pure-g [class*="pure-u"] h2,
html h3,
button h3,
input h3,
select h3,
textarea h3,
.pure-g [class*="pure-u"] h3,
html h4,
button h4,
input h4,
select h4,
textarea h4,
.pure-g [class*="pure-u"] h4,
html h5,
button h5,
input h5,
select h5,
textarea h5,
.pure-g [class*="pure-u"] h5,
html h6,
button h6,
input h6,
select h6,
textarea h6,
.pure-g [class*="pure-u"] h6 {
  font-family: ars-maquette-web, 'ARS Maquette Pro', 'Myriad Pro', 'Gill Sans', 'Lucida Sans', Verdana, Geneva, sans-serif;
}
html code,
button code,
input code,
select code,
textarea code,
.pure-g [class*="pure-u"] code {
  font-family: "fira-mono", courier, monospace;
}
html .icon,
button .icon,
input .icon,
select .icon,
textarea .icon,
.pure-g [class*="pure-u"] .icon,
html b,
button b,
input b,
select b,
textarea b,
.pure-g [class*="pure-u"] b {
  font-family: 'SSPika';
  -moz-font-variant-ligatures: common-ligatures;
  -webkit-font-variant-ligatures: common-ligatures;
  font-variant-ligatures: common-ligatures;
}
html b,
button b,
input b,
select b,
textarea b,
.pure-g [class*="pure-u"] b {
  font-weight: normal;
}
h1[class*="pure-u"],
h2[class*="pure-u"],
h3[class*="pure-u"],
h4[class*="pure-u"],
h5[class*="pure-u"],
h6[class*="pure-u"] {
  font-family: ars-maquette-web, 'ARS Maquette Pro', 'Myriad Pro', 'Gill Sans', 'Lucida Sans', Verdana, Geneva, sans-serif !important;
}
button {
  outline: none;
}
.pure-g {
  font-family: Arial;
  letter-spacing: -0.35em;
}
body {
  color: #59595b;
  line-height: 1.5rem;
  padding: 0;
}
code {
  font-family: "fira-mono", courier, monospace;
}
.page {
  /* baseline grid */
  background-color: #ededed;
  background-image: linear-gradient(#dddddd 1px, transparent 1px);
  background-size: 100% 1rem;
}
.icon,
b {
  font-family: 'SSPika';
  -moz-font-variant-ligatures: common-ligatures;
  -webkit-font-variant-ligatures: common-ligatures;
  font-variant-ligatures: common-ligatures;
}
.icon[class*="pure-u"],
b[class*="pure-u"] {
  font-family: 'SSPika' !important;
  -moz-font-variant-ligatures: common-ligatures !important;
  -webkit-font-variant-ligatures: common-ligatures !important;
  font-variant-ligatures: common-ligatures !important;
}
b {
  font-weight: normal;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: ars-maquette-web, 'ARS Maquette Pro', 'Myriad Pro', 'Gill Sans', 'Lucida Sans', Verdana, Geneva, sans-serif;
  margin-bottom: 1rem;
  font-weight: 100;
}
h1 strong,
h2 strong,
h3 strong,
h4 strong,
h5 strong,
h6 strong {
  color: #ff4300;
}
h1 {
  font: normal 2em/3rem;
  margin: 1rem 0;
  line-height: 2rem;
}
h2 {
  font: normal 1.6em/2rem;
  margin: .7rem 0;
}
h3 {
  font: normal 1.2em/2rem;
  margin: .4rem 0;
}
h4 {
  font: normal 1em/2rem;
  margin: .5rem 0;
}
section.main {
  width: 90%;
  margin: 0 auto;
}
@media screen and (min-width: 48em) {
  section.main {
    width: 46rem;
  }
}
@media screen and (min-width: 64em) {
  section.main {
    width: 62rem;
  }
}
@media screen and (min-width: 80em) {
  section.main {
    width: 78rem;
  }
}
.zetta-logo {
  background: url('../images/zetta-logo.png');
  background-image: url('../images/zetta-logo.svg'), none;
  color: transparent;
  background-repeat: no-repeat;
  background-size: auto 3rem;
  height: 3rem;
  margin: 1rem 0 0 0;
}
@media screen and (min-width: 35.5em) {
  .zetta-logo {
    background-size: auto 2rem;
    height: 2rem;
  }
}
.pure-button {
  padding: 0.5em 1em;
  color: #fff;
  /* rgba not supported (IE 8) */
  color: #ffffff;
  /* rgba supported */
  *color: #fff;
  /* IE 6 & 7 */
  border: 0px solid #999;
  /*IE 6/7/8*/
  border: none rgba(0, 0, 0, 0);
  /*IE9 + everything else*/
  background-color: #faa438;
  text-decoration: none;
  border-radius: 0px;
  font-weight: normal;
}
.pure-button-orange {
  background-color: #ff4300;
}
.pure-button-green {
  background-color: #129b4d;
}
.pure-button-blue {
  background-color: #1a98d5;
}
.pure-button-purple {
  background-color: #813b96;
}
.pure-button-gray {
  background-color: #59595b;
}
header ul,
footer ul {
  margin: 0;
  padding: 0;
}
/* links */
a {
  color: #faa438;
  text-decoration: none;
  text-shadow: 0px -1px #0b1a1f;
}
a:hover {
  text-decoration: underline;
}
/* header stuff */
#hero {
  background-color: #ffffff;
}
#hero header {
  width: 90%;
  margin: 0 auto;
}
@media screen and (min-width: 48em) {
  #hero header {
    width: 46rem;
  }
}
@media screen and (min-width: 64em) {
  #hero header {
    width: 62rem;
  }
}
@media screen and (min-width: 80em) {
  #hero header {
    width: 78rem;
  }
}
#hero #cta {
  background-color: #4a5981;
}
#hero #cta .content {
  width: 90%;
  margin: 0 auto;
}
@media screen and (min-width: 48em) {
  #hero #cta .content {
    width: 46rem;
  }
}
@media screen and (min-width: 64em) {
  #hero #cta .content {
    width: 62rem;
  }
}
@media screen and (min-width: 80em) {
  #hero #cta .content {
    width: 78rem;
  }
}
#zettais h1 {
  line-height: 2rem;
  margin: .5rem 0 0 0;
  font-weight: 100;
}
/* navbar stuff */
#navToggle {
  height: 3rem;
}
#navToggle button {
  width: 100%;
  text-align: right;
  font-size: 1.5em;
  border: none;
  color: #faa438;
  background-color: transparent;
  margin: .5rem 0 .5rem 0;
  padding: .75rem 0;
}
#navToggle button:before {
  content: "rows";
}
#navToggle button.open:before {
  content: "close";
}
#navToggle button span {
  display: none;
}
#hero nav {
  background-color: #ededed;
  background-image: linear-gradient(transparent 1px, #ededed 1px);
  background-size: 100% 2px;
  background-repeat: no-repeat;
  background-position: bottom;
  text-align: right;
  height: 13em;
  -webkit-transition: height .5s ease;
  transition: height .5s ease;
  overflow: hidden;
}
#hero nav.closed {
  height: 0;
}
#hero nav ul {
  width: 100%;
  margin: 0;
  padding: 0;
}
#hero nav a {
  display: block;
  padding: .5rem 1.5rem;
  background-color: transparent;
  text-shadow: 0px 1px #ffffff;
}
#hero nav a:hover {
  background-color: #faa438;
  color: #ffffff;
  text-shadow: none;
}
/* get-started */
.install {
  background-color: #ffffff;
  height: 2.65rem;
  border-bottom: 0.35rem solid #faa438;
  margin: 0 0rem 1rem 0;
}
.install input {
  width: 100%;
  font-size: 1.2rem;
  font-family: "fira-mono", courier, monospace;
  padding: .7rem 0 0rem 1rem;
  border: none;
  background-color: transparent;
}
@media screen and (min-width: 48em) {
  .install {
    margin: 0 1rem 1rem 0;
  }
}
#cta {
  padding-bottom: 2rem;
}
#cta .build,
#cta .learn,
#cta .npm {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
#cta p {
  font-family: "jaf-facitweb", Helvetica, Arial, sans-serif;
  font-size: .8em;
  height: 2rem;
  margin: 1rem 0 0 0;
  color: #ffffff;
  font-weight: 300;
}
#cta .build button {
  height: 3rem;
  font-size: 1.2rem;
  width: 100%;
}
.learn {
  margin: 0;
  padding: 0;
}
.learn ul {
  margin: 0;
  padding: 0;
  width: 100%;
}
.learn ul li {
  display: inline-block;
  list-style-type: none;
}
.learn ul li {
  margin: .9rem .5rem 0 0;
  font-size: .9em;
}
@media screen and (min-width: 35.5em) {
  .learn p,
  .learn ul {
    padding-left: 1rem;
  }
}
#get-started {
  width: 90%;
  margin: 0 auto;
  margin-top: 3rem;
}
@media screen and (min-width: 48em) {
  #get-started {
    width: 46rem;
  }
}
@media screen and (min-width: 64em) {
  #get-started {
    width: 62rem;
  }
}
@media screen and (min-width: 80em) {
  #get-started {
    width: 78rem;
  }
}
#get-started .next-step button {
  width: 100%;
  font-size: 1.5rem;
}
@media screen and (min-width: 35.5em) {
  #get-started .next-step button {
    width: 90%;
    display: block;
    margin: 0 auto;
    font-size: 1.2rem;
  }
}
@media screen and (min-width: 35.5em) {
  #get-started .next-step p {
    text-align: center;
  }
}
/* video */
.video {
  background-color: transparent;
  background-image: linear-gradient(#4a5981 1px, #4a5981 1px);
  background-size: 100% 5rem;
  background-repeat: no-repeat;
  margin-bottom: 2rem;
}
#video {
  width: 90%;
  margin: 0 auto;
  background-color: #ffffff;
  background-image: url("../images/play-button.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100px 100px;
  width: 100%;
  height: 20.5rem;
  text-align: center;
  border-bottom: .5rem solid #d1d2d4;
}
@media screen and (min-width: 48em) {
  #video {
    width: 46rem;
  }
}
@media screen and (min-width: 64em) {
  #video {
    width: 62rem;
  }
}
@media screen and (min-width: 80em) {
  #video {
    width: 78rem;
  }
}
/*  
    Code highlighting 
    see: zetta-prism.less 
*/
.code {
  background-color: #0b1a1f;
  z-index: 2000;
  margin-bottom: 1rem;
  font-size: .8rem;
  line-height: 1rem;
}
.code:after {
  content: '';
  width: 0;
  height: 0;
  border: 3em solid transparent;
  border-top-width: 0;
  border-bottom-color: #ededed;
  display: block;
  margin: 0 auto;
}
@media screen and (min-width: 48em) {
  .code:after {
    display: none;
  }
}
.code pre {
  background-image: none;
  overflow: visible;
}
.code pre .arrow {
  display: none;
  height: 0;
  width: 0;
  border: 2em solid transparent;
}
@media screen and (min-width: 48em) {
  .code pre .arrow {
    display: block;
    position: absolute;
    border-width: 2em;
    margin: 0;
  }
}
.code pre.hilight {
  background-image: none;
  background-size: 100% 0px;
  background-repeat: no-repeat;
  background-position: 0 0;
}
@media screen and (min-width: 48em) {
  .code pre.hilight {
    background-image: linear-gradient(#5287a2 1px, #5287a2 1px);
  }
  .code pre.hilight .arrow {
    border-left-color: #5287a2;
    /* bg */
  }
}
/* features */
.feature {
  margin-bottom: 2rem;
}
@media screen and (min-width: 48em) {
  .feature h2,
  .feature .vis {
    margin-left: 4rem;
  }
}
.feature .vis {
  position: static;
}
.feature .vis .example {
  width: 100%;
  height: 12rem;
  margin: 0;
  padding: .5rem 0;
  text-align: center;
}
.feature .vis .example img {
  max-width: 90%;
  max-height: 12rem;
}
@media screen and (min-width: 35.5em) {
  .feature .vis .example {
    width: 50%;
    float: left;
  }
}
@media screen and (min-width: 48em) {
  .feature .vis {
    position: relative;
    width: 64em;
  }
  .feature .vis .example {
    width: 20%;
    margin-right: 5%;
    float: left;
    height: 10rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
  .feature .vis .example img {
    display: none;
  }
}
.pairing + .pairing {
  margin-top: 3rem;
}
/* footer */
footer {
  background-color: #0b1a1f;
  padding: 2rem 0 7rem 0;
  margin-top: 4rem;
  color: #ffffff;
}
footer li.apigee {
  margin-top: 1rem;
}
footer .creative-commons {
  margin-top: 3rem;
  font-size: .8em;
}
footer .zetta-logo {
  margin-bottom: 1rem;
}
/*mq test */
#mqtest {
  width: 1px;
  height: 1px;
  background-color: transparent;
  color: transparent;
  border: none;
  position: fixed;
  bottom: 0;
  z-index: 1;
}
@media screen and (min-width: 35.5em) {
  #mqtest {
    z-index: 2;
  }
}
@media screen and (min-width: 48em) {
  #mqtest {
    z-index: 3;
  }
}
@media screen and (min-width: 64em) {
  #mqtest {
    z-index: 4;
  }
}
@media screen and (min-width: 80em) {
  #mqtest {
    z-index: 5;
  }
}
/* Mixins  */
