{% include header.html %}
<section id="hero">
    {% include nav.html %}
    <div class="content page_meta">
      <h1>{{page.title}}</h1>
      
        <div class="meta">
          {% unless page.path contains 'index' %}
          <p>by: <strong>{{page.author}}</strong> on <strong>{{page.date | date: '%b %d, %Y'}}</strong>.
          {% if page.difficulty %}<br/> difficulty: <strong>{{page.difficulty}}</strong>{% endif %}
          </p>
          {% if page.tags %}
          <ul class="tags">
            {% for tag in page.tags %}
            <li><a href="#">{{tag}}</a></li>
            {% endfor %}
          </ul>
          {% endif %}
        {% endunless %}  
      </div>
      
    </div>
</section>

<article>
  
  
  <section class="page_content">
    {% if page.path contains 'index' %}
  
    <section class="description">
      <div>
        <!-- intro text -->
        <p>The Internet of Things (IoT) has the potential to impact broad aspects of the human experience. There are significant risks. There are also vast opportunities.</p>
        <p>If you want to brainstorm big ideas, report a little bug, build a revolutionary new device or write code for the core platform, we welcome you to the Zetta community.</p>
        <!-- /intro text -->
      </div>
    </section>

    {% endif %}
    
    {{ content }}
  </section>
  
</article>

<section id="modal">
  <p class="close"><b>delete</b></p>
  <div class="main"></div>
</section>

{% include footer.html %}