{% include header.html %}
<section id="hero">
    {% include nav.html %}
    <section class="page_meta">
      <div class="content">
          {% unless page.path contains 'index' %}
          <ul class="meta">
            <li><b>file</b> {{page.layout | capitalize }}</li>
            {% if page.author %}<li><b>user</b> {{page.author}}</li>{% endif %}
            <li><b>calendar</b> {{page.date | date: '%b %d, %Y'}}</li>
            {% if page.difficulty %}<li><b>upwardsbarchart</b> {{page.difficulty}}</li>{% endif %}
            {% if page.duration %}<li><b>stopwatch</b> {{page.duration}}</li>{% endif %}  
            {% if page.repo %}<li class="source"><a href="{{page.repo}}"><b>download</b> Source Code</a></li>{% endif %}
            
         </ul>
          {% if page.tags.size > 0 %}          
          <ul class="tags">
            {% for tag in page.tags %}
            <li><a href="#">{{tag}}</a></li>
            {% endfor %}
          </ul>
          {% endif %}
        {% endunless %}  
        
        {% if page.path contains 'index' %}
        <ul class="meta">
          <li>Displaying {{ site.categories["recipes"].size }} Recipes</li>
        </ul>
        {% endif %}
      </div>
    </section>
</section>

<article>
  
  
  <section class="page_content">
    {{ content }}
  </section>

</article>

<section id="modal">
  <p class="close"><b>delete</b></p>
  <div class="main"></div>
  <p class="title">Image Description</p>
</section>

{% include footer.html %}