{% include header.html %}
<section id="hero" class="pure-g docs">
    {% include nav.html %}
</section>

<article>
  
  {% if page.path contains 'index' %}
  
  <section class="description">
    <div>
      <!-- Docs intro text -->
      <p>Guides show you how to accomplish objectives with Zetta. <a href="../recipes">Recipes</a> will often point you to guides as part of getting a project done.</p>

      <!-- /Docs intro text -->
    </div>
  </section>
  
  {% endif %}
  
  <section class="page_content">
    {{ content }}
  </section>
</article>

{% include footer.html %}