{% include header.html %}
<!-- #hero -->
    <section id="hero" class="pure-g">
          <header class="pure-g pure-u-1">
            <div class="topbar pure-u-1 pure-g">
              <div class="content">
                
                <a href="{{ site.url }}/" class="home pure-u-3-4"><div class="zetta-logo">zetta</div></a>
                
                <section class="pure-u-1-4" id="navToggle">
                  <button class="icon"><span>toggle menu</span></button>
                </section>
                
                <nav class="closed pure-u-1">
                  <section class="pure-g">
                      <ul class="pure-u-1">
                        <!--
                        <li><a href="/" >Home</a></li>
                        <li><a href="https://twitter.com/zettajs" >Community</a></li>
                        <li><a href="/guides" >Guides</a></li>
                        <li><a href="/recipes" >Recipes</a></li>
                        <li><a href="/blog" >Blog</a></li>
-->
                        <li><a href="https://github.com/zettajs" >GitHub</a></li>
                      </ul>
                  </section>
                </nav>
              </div>
            </div>
            
            <section id="zettais" class="pure-u-1">
              <div class="content">
                <h1>An API-First Internet of Things Platform</h1>
                <p>Zetta® is an open source platform built on <a href="http://nodejs.org/">Node.js</a> for creating Internet of Things servers that run across geo-distributed computers and the cloud. Zetta combines <a href="https://github.com/kevinswiber/siren">hypermedia APIs</a>, <a href="http://en.wikipedia.org/wiki/WebSocket">WebSockets</a> and <a href="http://en.wikipedia.org/wiki/Reactive_programming">reactive programming</a>, perfect for assembling many devices into data-intensive, real-time applications.</p>

              </div>
            </section>
          </header>
          
          <section id="cta" class="pure-u-1 pure-g animated pulse">
            <div class="content">
              <div class="npm pure-u-1 pure-u-md-1-2">
                <p>Install</p>
                <div class="install">
                  <input type="text" value="npm install zetta" readonly tabindex=1/>
                </div>
              </div>
              <div class="build pure-u-1 pure-u-sm-1-2 pure-u-md-1-4">
                <p>Source</p>
                <a href='https://github.com/zettajs'><button class="pure-button">GitHub         <i class="fa fa-github"></i></button></a>
              </div>
            </div>
          </section>
      </section>
<!-- /#hero -->

       <section class="main"> 
        <section id="hardware" class="pairing pure-g">
          <div class="code pure-u-1 pure-u-md-1-2">
            
            <pre data-line="4-5"><span class="arrow"></span><code class="language-javascript">var zetta = require('zetta');

zetta()
 .name('beaglebone')
 .link('http://cloud.herokuapp.com')
 .listen(3000, function(err) {});</code></pre>
            
          </div>
          <div class="spiel pure-u-1 pure-u-md-1-2">
            <h2>Run <strong>Everywhere</strong></h2>
            <p>Zetta lets you create Internet of Things (IoT) servers that run across geo-distributed computers and the cloud so that you can link Raspberry Pis, BeagleBones and Arduinos together with cloud platforms like Heroku and Nodejitsu.</p>
          </div>
          <div class="feature pure-u-1">
            <div class="vis pure-g">
              <div class="example pure-u-1 pure-u-md-1-2">
                <img src="images/microcontrollers/beaglebone-black.svg"/>
                <p>BeagleBone</p>
              </div>
              <div class="example pure-u-1 pure-u-md-1-2">
                <img src="images/microcontrollers/Raspberry_Pi_Vector_Illustration.svg"/>
                <p>Raspberry PI</p>
              </div>
              <div class="example pure-u-1 pure-u-md-1-2">
                <img src="images/microcontrollers/spark.svg"/>
                <p>Spark Core</p>
              </div>
              <div class="example pure-u-1 pure-u-md-1-2">
                <img src="images/microcontrollers/yun.svg"/>
                <p>Arduino</p>
              </div>
              <div class="example pure-u-1 pure-u-md-1-2">
                <img src="images/cloud/nodejitsu-transparent.png"/>
                <p>Nodejitsu</p>
              </div>
              <div class="example pure-u-1 pure-u-md-1-2">
                <img src="images/cloud/heroku-logo-solid-purple.svg"/>
                <p>Heroku</p>
              </div>
              
            </div>
          </div>
        </section>  
        
        <section id="apis" class="pairing pure-g">
          <div class="code pure-u-1 pure-u-md-1-2">
            <pre data-line="1-3"><span class="arrow"></span><code>GET /servers/321/devices/123
Host: cloud.herokuapp.com
Accept: application/vnd.siren+json

{
  "class": [
   "device"
  ],
  "properties": {
   "id": "123",
   "type": "arm",
   "name": "Robot Arm",
   "state": "standby"
  },
  "actions": [{
   "name": "move-claw",
   "method": "POST",

...</code></pre>
          </div>
          <div class="spiel pure-u-1 pure-u-md-1-2">
            <h2>API <strong>Every Thing</strong></h2>
            <p>Zetta allows you to create a REST API for every thing. Zetta's <a href="http://en.wikipedia.org/wiki/Reactive_hypermedia">reactive hypermedia</a> design marries <a href="http://en.wikipedia.org/wiki/Reactive_programming">reactive programming</a> with <a href="https://github.com/kevinswiber/siren">Siren hypermedia APIs</a> allowing you to easily build distributed systems that react to real-time data flows so that your applications operate as expected under real-world conditions.</p>
          </div>
          <div class="feature pure-u-1">
            
            <div class="vis pure-g">
              <div class="example pure-u-1-2 pure-u-md-1-4">
                <img src="images/parts/photo.png"/>
              </div>
              <div class="example pure-u-1-2 pure-u-md-1-4">
                <img src="images/parts/motor.png"/>
              </div>
              <div class="example pure-u-1-2 pure-u-md-1-4">
                <img src="images/parts/button.png"/>
              </div>
              <div class="example pure-u-1-2 pure-u-md-1-4">
                <img src="images/parts/lcd.png"/>
              </div>
              
            </div>
          </div>
          </div>
        </section> 

        <section id="bigdata" class="pairing pure-g">
          <div class="code pure-u-1 pure-u-md-1-2">
            <pre data-line="5-5"><span class="arrow"></span><code class="language-javascript">server
 .observe([sound, arm, huelight],
  function(sound, arm, huelight) {
   var gocrazy = new GoCrazy(arm, huelight);
   sound.streams.level.on('data', function(msg) {
     gocrazy.notify();}
   );
 });</code></pre>
            
          </div>
          <div class="spiel pure-u-1 pure-u-md-1-2">
            <h2>Stream <strong>Big Data</strong></h2>
            <p>Zetta's architecture is optimized for data-intensive, real-time applications. You observe how your system behaves using Zetta's WebSocket-driven visualization tools and plug your data streams into platforms like Splunk so that you gain actionable insights from your Internet of Things data.</p>
          </div>
          <div class="feature pure-u-1">
            <div class="vis pure-g">
              <div class="example pure-u-1 pure-u-md-1-2">
                <img src="images/browser/sensorstream.png"/>
                <p>WebSocket Streams in Zetta Browser</p>
              </div>
            </div>
          </div>
        </section>  

        <section id="developerJoy" class="pairing pure-g">
          <div class="code pure-u-1 pure-u-md-1-2">
            <pre data-line="2-7"><span class="arrow"></span><code class="language-javascript">module.exports = function(server) {
  var alarmQuery = server
    .from('office')
    .where({type: 'alarm'});
  var motionDetectorQuery = server
    .from('warehouse')
    .where({type: 'motionDetector'});

  server.observe([alarmQuery, motionDetectorQuery], 
    function(alarm, motionDetector) {
      motionDetector.on('motion', function() {
        alarm.call('activate', function() {});
      });
    });
}</code></pre>
          </div>
          <div class="spiel pure-u-1 pure-u-md-1-2">
            <h2>Code with <strong>Joy</strong></h2>
            <p>Building Internet of Things systems is complex. Zetta provides helpful abstractions for increased productivity and direct access to underlying protocols and conventions allowing you to focus on the big picture without losing track of the details so that you joyfully transform sensors, actuators and controllers into big, creative applications.</p>
          </div>
          <div class="feature pure-u-1">
            
            <div class="vis pure-g">
              <div class="example pure-u-1-2 pure-u-md-1-4">
                <img src="images/parts/barometer.png"/>
              </div>
              <div class="example pure-u-1-2 pure-u-md-1-4">
                <img src="images/parts/humidity.png"/>
              </div>
              <div class="example pure-u-1-2 pure-u-md-1-4">
                <img src="images/parts/led.png"/>
              </div>
              <div class="example pure-u-1-2 pure-u-md-1-4">
                <img src="images/parts/mic.png"/>
              </div>
            </div>
          </div>
        </div>
      </section> 

                
        <section id="bigapps" class="pairing pure-g">
          <div class="code pure-u-1 pure-u-md-1-2">
            <pre data-line="3-6"><span class="arrow"></span><code class="language-javascript">var zetta = require('zetta');

var ConnectedCarApp = require('./apps/connected_car');
var HomeAutomationApp = require('./apps/home_automation');
var WearablesApp = require('./apps/wearables');
var MarsRoverSwarmApp = require('./apps/mars_rover_swarm');

zetta()
  .name('cloud')
  .use(ConnectedCarApp)
  .use(HomeAutomationApp)
  .use(WearablesApp)
  .use(MarsRoverSwarmApp)
  .listen(PORT, function(err) {});</code></pre>
          </div>
          <div class="spiel pure-u-1 pure-u-md-1-2">
            <h2>Dream <strong>Big Apps</strong></h2>
            <p>IoT developers have it rough. They work on projects with multiple devices across multiple locations running multiple apps made by multiple companies impacting multiple social and economic domains. Yet, despite the challenges, developers must create harmonious experiences that benefit people. Overcoming complexity with simplicity is the foundation of Zetta. In other words, Zetta is designed for building big apps. Zetta allows you to assemble smartphone apps, device apps and cloud apps together into large, complex adaptive 'systems of systems' that operate at scale in the physical world of home automation, smart transportation, wearable computing and wherever your imagination leads.</p>
          </div>
          <div class="feature pure-u-1">
            
            <div class="vis pure-g">
              <div class="example pure-u-1-2 pure-u-md-1-4">
                <img src="images/domains/d-03.png"/>
              </div>
              <div class="example pure-u-1-2 pure-u-md-1-4">
                <img src="images/domains/d-01.png"/>
              </div>
              <div class="example pure-u-1-2 pure-u-md-1-4">
                <img src="images/domains/d-05.png"/>
              </div>
              <div class="example pure-u-1-2 pure-u-md-1-4">
                <img src="images/domains/d-07.png"/>
              </div>
              <div class="example pure-u-1-2 pure-u-md-1-4">
                <img src="images/domains/d-09.png"/>
              </div>
              <div class="example pure-u-1-2 pure-u-md-1-4">
                <img src="images/domains/d-11.png"/>
              </div>
              <div class="example pure-u-1-2 pure-u-md-1-4">
                <img src="images/domains/d-13.png"/>
              </div>
              <div class="example pure-u-1-2 pure-u-md-1-4">
                <img src="images/domains/d-15.png"/>
              </div>
            </div>
          </div>
        </section>

        
      <!-- reiterate CTA -->
      <a name="install"></a>
      <section id="get-started" class="pure-g">
        <h3 class="pure-u-1">Install Zetta</h3>
        <div class="install pure-u-1">
          <input type="text" value="npm install zetta" readonly tabindex=2/>
        </div>
      </section>

      <!-- /reiterate CTA -->

      {% include footer.html %}
