{% include header.html %}

{% assign author_data = site.data.authors | where:"name", page.author %}
{% assign author = author_data | first %}  

<section id="hero">
    {% include nav.html %}
    <section class="page_meta">
      <div class="content">
          {% unless page.path contains 'index' %}
          <ul class="meta">
            
            {% if author %}<li class="author">
            <div class="photo" style="background-image: url({{ author.photo }})"></div> {{ author.name }}
            </li>{% endif %}
            <li><b>calendar</b> {{page.date | date: '%b %d, %Y'}}</li>
            {% if page.difficulty %}<li><b>upwardsbarchart</b> {{page.difficulty}}</li>{% endif %}
            {% if page.duration %}<li><b>stopwatch</b> {{page.duration}}</li>{% endif %}  
            {% if page.repo %}<li class="source"><a href="{{page.repo}}"><b>download</b> Source Code</a></li>{% endif %}
            <li><b>nodes</b> {{page.layout | capitalize }}</li>
         </ul>
          
        {% endunless %}  
        
        {% if page.path contains 'index' %}
        <ul class="meta">
          <li><a href="/projects/2014/10/01/Share-A-Project.html"><button class="pure-button">How to Share a Project <b>action</b></button></a></li>
        </ul>
        {% endif %}
      </div>
    </section>
    
</section>

<article>
  
  <section class="page_content">
    
    
    {{ content }}

    <section class="description">
      <div>
        {% if page.path contains 'index' %}
        
        <p>Displaying {{ site.categories["projects"].size }} {{page.layout | capitalize }}{% if site.categories["projects"].size != 1 %}s{% endif %}</p>
        
        {% endif %}
        
        {% unless page.path contains 'index' %}
        {% if author %}
        
          <section class="author_credit">
            <h1 id="about-the-author">Author</h1>
            <img src="{{author.photo}}" class="shadow-1">
            <h3>{{author.name}}</h3>
            {% if author.bio %}<p>{{ author.bio }}</p>{% endif %}
            <p>Connect with {{author.name | split: " " | first}} and other Zettanauts. Join the <a href="/community/#discussion">Zetta community discussion</a>.</p>
          </section>
        {% endif %}
        
        {% if page.tags.size > 0 %}    
        <p><strong>File under:</strong> {{page.tags | join:", "}}</p>
        {% endif %}
        
        <p>Have a project to share? Read <a href="/projects/2014/10/01/Share-A-Project.html">How to Share a Project</a></p>
        {% endunless %} 
      </div>
    </section>
  </section>

</article>

<section id="modal">
  <p class="close"><b>delete</b></p>
  <div class="main"></div>
  <p class="title">Image Description</p>
</section>

{% include footer.html %}