{% include header.html %}
<section id="hero">
    {% include nav.html %}
    <div class="content page_meta">
      <h1>{{page.title}}</h1>
      
        <div class="meta">
          {% unless page.path contains 'index' %}
          <p>by: <strong>{{page.author}}</strong> on <strong>{{page.date | date: '%b %d, %Y'}}</strong>.
          {% if page.difficulty %}<br/> difficulty: <strong>{{page.difficulty}}</strong>{% endif %}
          </p>
          {% if page.tags %}
          <ul class="tags">
            {% for tag in page.tags %}
            <li><a href="#">{{tag}}</a></li>
            {% endfor %}
          </ul>
          {% endif %}
        {% endunless %}  
      </div>
      
    </div>
</section>

<article>
  
  
  <section class="page_content">
    {% if page.path contains 'index' %}
  
    <section class="description">
      <div>
        <!-- recipe intro text -->
        <p>Recipes walk you through the steps in creating a project with Zetta.</p>
        <!-- /recipe intro text -->
      </div>
    </section>

    {% endif %}
    
    {{ content }}

    <section class="description">
      <div>
        <!-- recipe intro text -->
        <p>Have a recipe to share? Read the <a href="/guides/2014/10/01/Write-A-Recipe.html">How to Share a Recipe</a> guide.</p>
        <!-- /recipe intro text -->
      </div>
    </section>
  </section>

</article>

<section id="modal">
  <p class="close"><b>delete</b></p>
  <div class="main"></div>
  <p class="title">Image Description</p>
</section>

{% include footer.html %}