{% include header.html %}
<section id="hero" class="pure-g recipes">
    {% include nav.html %}
</section>

<article>
  {% if page.path contains 'index' %}
  
  <section class="description">
    <div>
      <!-- workshops intro text -->
      <p>Workshops let you learn how to create projects with Zetta in-person with an instructor in a hands-on environment.</p>
      <!-- /recipe intro text -->
    </div>
  </section>
  
  {% endif %}
  
  <section class="page_content">
    {{ content }}
  </section>
  
</article>

{% include footer.html %}